.our-coffee-cards-search {
    margin-top: 60px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 180px);
    align-items: center;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    &-descr1 {
        margin-right: 20px;
    }
    &-descr2 {
        margin-right: 30px;
    }
    input {
        padding: 0.375rem 0.75rem;
        margin-right: 83px;
        width: 180px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 4px;
        background: #FFF;
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        border: none;
    }
    &-btn {
        margin-right: 5px;
        width: 75px;
        height: 30px;
        border: none;
        flex-shrink: 0;
        background: #FFF;
        box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &-active {
            background-color: #e6cdaf;
            box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
            transition: 1.0s ease; 
            margin-right: 5px;
            border: none;
            width: 75px;
            height: 30px;
        }
        &:hover {
            background-color: #e6cdaf;
            box-shadow: 4px 4px 20px 0px rgba(0, 0, 0, 0.25);
            transition: 1.0s ease; 
        }
    }
    &-wrapper {
        display: flex;
    }
    }
