.our-coffee {
    background-image: url('../../resources/img/bcgr2.png');
    min-height: 395px;
    background-size: 100%;
    &-list {
        display: inline-flex;
        margin-top: 30px;
        list-style-type: none;  
    }
    &-item {
        margin: 0 20px 0 20px;
        font-style: normal;
        font-weight: 400;
        a {
            text-decoration: none;
            background-color: transparent;
            border: 0;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
    &-header {
        margin-top: 111px;
        font-weight: 700;
        font-size: 40px;
        color: #FFFFFF;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
    }
}