.our-coffee-info {
    &-wrapper {
        margin-top: 70px;
        display: grid;
        min-height: 455px;
        column-gap: 42px; 
        justify-content: center;
        grid-template-columns: repeat(2, 420px);
    }
    &-text {
        text-align: center;
    }
    &-subheader {
        font-size: 24px;
        margin-bottom: 21px;
    }
    &-specification {
        margin-top: 25.7px;
        text-align: left;
        font-size: 14px;
    }
    &-descr {
        margin-top: 16px;
        span {
            font-size: 24px;
        }
    }
}