.app-footer {
    text-align: center;
    min-height: 150px;
    &-list {
        display: inline-flex;
        margin-top: 30px;
        font-size: 12px;
        list-style-type: none; 
        align-items: center;
    }
    &-item {
        margin: 0 20px 0 20px;
        font-style: normal;
        font-weight: 400;
        a {
            text-decoration: none;
            background-color: transparent;
            border: 0;
            color: black;
            cursor: pointer;
        }
    }
    &-border {
        margin-top: 30px;
    }
}